h1 {
    text-align: center;
    color: white;
    margin-top: 0;
}

ul {
    background-color: red;
    /*height: 45px;*/
    border-radius: 8px 60px;
    /*line-height: 50px;*/
    text-transform: uppercase;
    border: 2px solid white;
}

li {
    padding: 20px 9%;
}

li:hover {
    background-color: black;
    border-radius: 40px 10px;
    border: 2px solid yellow;
    color: green;
    box-shadow: 5px 1px 0;
    padding-bottom: 2px;
}

ul > li {
    display: inline
}

a {
    text-decoration: none;
    color: white
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("Images/Фон.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    background-image: url("Images/Книги.jpg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    width: 80vw;
    height: 70vh;
}

header{
    width: 100%;
}


.main-nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 60px;
}

.main-nav > *{
    /*flex-grow: 1;*/
    display: block;
}

.nav-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
p
{
    display: flex;
    align-items: center;
    min-height: 80%;
    color: white;
    font-size: 4em;
    padding-left: 25px;
}

footer{
    left: 5%;
    padding-left: 20px;
    color: white;
    width: 90%;
}

img
{
    min-width: 300px;
    max-height: 300px;

}
#picture
{

    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
figure
{
    margin: 0;
}


